<div class="container letra">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 235px;">
            <br>
            <h5 class="text-center">Soluciones Informáticas a Tu Alcance, Desde el Software hasta la Reparación</h5>
            <h1 class="text-center">Servicios Técnicos de Mercy Developer</h1>

            
            <div class="pt-5 row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/98.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Sistemas Operativos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/456489598_2519837488224796_493320068497481550_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Software de Oficina</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/reparacion-de-software-y-hardware-de-computadores.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">reparación de computadoras</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 32rem; width: 250%; margin-top:150px;">
                    <div class="d-flex align-items-center">
                        <img src="assets/puntos de red PRO.jpg" class="card-img-top" alt="description de la imagen" class="img-fluid me-3" style="width: 300px;">
                    <div>
                    <p style="font-family: comic Sans; font-size: xxx-large; font-weight: blot;">Instalacion de puntos de red</p>
                    <p>especificaciones sobre la Instalaciones</p>
                    <p style="font-family: comic Sans; font-size: xxx-large; font-weight: blot;">$25.000+ iva</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        detalles
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                        <li>
                            Análisis de necesidades: Se realiza un estudio detallado para identificar las necesidades de conectividad y las mejores ubicaciones para los puntos de red,</li>
                            <br>
                            <li> Uso de cables de alta calidad: para asegurar una alta velocidad de transmisión y mínimo riesgo de interferencias.</li>
                            <br>
                            <li>Puntos de red de alta calidad: Se instalan tomas de red de alto rendimiento, muchas veces en formato RJ45.</li>
                            <br>
                            <li>Switches y routers profesionales: Se instalan dispositivos de red de alta gama, como switches gestionables, routers de alto rendimiento</li>
                        
                            
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
